@model PerfumeShop.Models.Shippers
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div>
	<nav class="breadcrumb breadcrumb-dash">
		<a class="breadcrumb-item" asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="anticon anticon-home m-r-5"></i> Home</a>
		<a class="breadcrumb-item" asp-area="Admin" asp-controller="Shippers" asp-action="Index"><i class="anticon anticon-home m-r-5"></i> Danh sách Shipper</a>
		<span class="breadcrumb-item active">AddShippers</span>
	</nav>
</div>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="PhoneNumber" class="control-label"></label>
				<input asp-for="PhoneNumber" class="form-control" />
				<span asp-validation-for="PhoneNumber" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Status" class="control-label"></label>
				<input asp-for="Status" class="form-control" />
				<span asp-validation-for="Status" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

