<div class="footer-area">
    <div class="footer-top section-space-y-axis-100 text-black" data-bg-color="#e5ddcc">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="widget-item">
                        <h3>Công Ty Sản Phẩm Thaotomorrow</h3>
                        <p>
                            Mã số doanh nghiệp: 0104918404 Đăng ký lần đầu ngày 20 tháng 09 năm 2010, đăng ký thay
                            đổi lần thứ 44, ngày 15 tháng 09 năm 2021
                        </p>
                        <div class="widget-contact-info pb-6">
                            <ul>
                                <li>
                                    <i class="pe-7s-map-marker"></i>
                                    Mọi thắc mắc liên hệ: 0247 1066866
                                </li>
                                <li>
                                    <i class="pe-7s-mail"></i>
                                    <a>Email: perfummeshop@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">Hỗ Trợ Khách Hàng</h3>
                        <ul class="widget-list-item">
                            <li>
                                <a href="javascript:void(0)">Trung tâm hỗ trợ khách hàng</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Chính sách giao hàng</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Chính sách đổi trả</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">Kết Nối Với Chúng Tôi</h3>
                        <a href="https://www.facebook.com/biluxury.vn"> <i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/biluxury.vn/"> <i class="fa fa-instagram"></i></a>
                        <a href="" class="ins-icon"><img src="//theme.hstatic.net/200000053174/1000744395/14/zalo-icon.png?v=447" width="16"></a>
                    </div>
                    <div class="widget-form-area mt-3">
                        <form class="widget-form" action="#">
                            <input class="input-field" type="email" autocomplete="off" placeholder="Your Email">
                            <div class="button-wrap pt-5">
                                <button class="btn btn-custom-size btn-primary btn-secondary-hover rounded-0" id="mc-submit">Send Mail</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom py-3" data-bg-color="#bac34e">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright">
                        <span class="copyright-text text-white">By Thaotomorrow<i class="fa fa-heart text-danger"></i> PerfumeShop </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>