@{
    var email = ViewData["Email"] as string;
    //int roleId = ViewData["RoleId"] as int;
}

<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu">
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-appstore"></i>
                    </span>
                    <span class="title btn btn btn-info">Quản Lí Sản Phẩm</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    @if (email != null)
                    {
                        <li>
                            <a class="text-danger" asp-area="Admin" asp-controller="" asp-action="Index">Loại Sản Phẩm</a>
                        </li>
                        <li>
                            <a class="text-danger" asp-area="Admin" asp-controller="" asp-action="Index">Danh Sách Sản Phẩm</a>
                        </li>
                    }
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-lock"></i>
                    </span>
                    <span class="title btn btn-info">Quản Lí Người Dùng</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    @if (email != null)
                    {
                        <li>
                            <a class="text-danger" asp-area="Admin" asp-controller="" asp-action="Index">Quản Lí Truy Cập</a>
                        </li>
                        <li>
                            <a class="text-danger" asp-area="Admin" asp-controller="" asp-action="Index">Quản Lí Nhân Viên</a>
                        </li>
                        <li>
                            <a class="text-danger" asp-area="Admin" asp-controller="" asp-action="Index">Quản Lí Khách Hàng</a>
                        </li>
                    }
                </ul>
            </li>
        </ul>
    </div>
</div>